.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 50;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;

    padding: 56px 68px;
    pointer-events: auto;
}

.hkw-logo {
    width: 136px;
    height: 68px;

    display: grid;
    place-items: center;
}

.logo-img {
    width: 100%;
    height: 100%;
}

.brand-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.page-label {
    font-size: 24px;
    line-height: 26px;
    text-transform: uppercase;
    font-variation-settings:
        "wdth" 68,
        "wght" 700;
    color: var(--colors-orange);
}
